body {
  font-family: "Raleway" !important;
}


section {
  width: 100vw;
  height: 100vh;
}

.landing-image {
  img {
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
  }
}
form {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.register-form {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

//planning.html

.card{
text-align: center;
position: absolute !important;
left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.planning img{
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.bg-light{
z-index: 1;
}

// nieuwe-klant.html
.nieuwe-klant img{
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
